run="bin/rails server -b 0.0.0.0"
entrypoint="app/controllers/application_controller.rb"

[packager]
language = "ruby"

[packager.features]
packageSearch = true
guessImports = true

[languages.ruby]
pattern = "**/*.rb"

[languages.ruby.languageServer]
start = ["solargraph", "stdio"]